
<div class="ps-footer bg--cover" data-background="/Resources/images/background/parallax.jpg">
    <div class="ps-footer__content">
        <div class="ps-container">

        </div>
    </div>
    <div class="ps-footer__copyright">
        <div class="ps-container">

        </div>
    </div>
</div>